body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(../images/bg3.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background: white;
    border-radius: 10px;
}

.center h1 {
    text-align: center;
    padding: 0 0 20px 0;
    border-bottom: 1px solid silver;
}

.center form {
    padding: 0 40px;
    box-sizing: border-box;
}

form .text-field {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.text-field input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.pass {
    margin: -5px 0 20px 5px;
    color: #a6a6a6;
    cursor: pointer;
}

.pass:hover {
    color: #367dda;
}

input[type="submit"] {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: linear-gradient(to right, #373b44, #4286f4);
    border-radius: 25px;
    font-size: 18px;
    color: #e9f4fb;
    cursor: pointer;
    outline: none;
}

input[type="submit"]:hover {
    border-color: #2691d9;
    transition: 0.5s;
}

.sign-up {
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
}

.sign-up a {
    color: #2691d9;
    text-decoration: none;
}

.sign-up a:hover {
    color: #367dda;
}

/* Media queries for screen sized 600px and height 700px*/

@media screen and (max-width: 768px) {
    .center {
        height:100%;
        width:80%;
    }
}